@page
@model ParkinLot.App.Frontend.Pages.EliminarDuenoVehiculoModel
@{
}
<h1>Eliminar  sistema @Model.DuenoVehiculo.Nombres</h1>
<form method="post" class="mt-3">
    <input hidden asp-for="DuenoVehiculo.Documento">
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Eliminar</button>
        <a asp-page="./ListaDuenosVehiculos" class="btn btn-primary">Cancelar</a>
    </div>
</form>
