@page
@model ParkinLot.App.Frontend.Pages.ListaEspaciosParqueaderoModel
@{
}
<h1>Gestión de espacios del parqueadero</h1>
<p>En esta página podrás gestionar los espacios del paqrqueadero</p>
<a class="btn btn-primary table-btn" asp-page="./AgregarEspacioParqueadero">Agregar espacio parqueadero</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Numero Espacio</th>
            <th scope="col">Tipo vehículo</th>
            <th scope="col">Condición</th>
        </tr>
    </thead>
    @foreach (var espacioParqueadero in Model.EspaciosParqueadero)
    {
        <tr>
            <td>@espacioParqueadero.Id</td>
            <td>@espacioParqueadero.TipoEspacio</td>
            <td>@espacioParqueadero.Ocupado</td>
        </tr>

    }
</table>