@page
@model ParkinLot.App.Frontend.Pages.EliminarAuxiliarModel
@{
}
<h1>Eliminar auxiliar @Model.Auxiliar.Nombres</h1>
<form method="post" class="mt-3">
    <input hidden asp-for="Auxiliar.CodigoEmpleado">
    <input hidden asp-for="Auxiliar.Id">
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Eliminar</button>
        <a asp-page="./ListaAuxiliares" class="btn btn-primary">Cancelar</a>
    </div>
</form>
